name: AsmrDownloader Windows Release Build

on:
  push:
    tags:
      - 'v*'  

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.2'
          channel: stable

      - name: Enable Windows Desktop
        run: flutter config --enable-windows-desktop

      - name: Install dependencies
        run: flutter pub get

      - name: Build Windows Release
        run: flutter build windows --release

      - name: Compress Release Folder
        run: |
          Compress-Archive `
            -Path build/windows/x64/runner/Release/* `
            -DestinationPath "${{ github.event.repository.name }} ${{ github.ref_name }}.zip"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          name: "${{ github.event.repository.name }} ${{ github.ref_name }}"
          files: "${{ github.event.repository.name }} ${{ github.ref_name }}.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}